<footer class="page-footer mb-0 m-top  font-small fixed-bottom bg-footer ">

  <div class="container m-top">

    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <ul class="social-network">

          <li>
            <a href="https://github.com/danigoulart" target="_blank">
              <i class="fa-brands fa-github"></i>
            </a>
          </li>

          <li>
            <a href="https://www.linkedin.com/in/danigoulart/" target="_blank">
              <i class="fa-brands fa-linkedin"></i>
            </a>
          </li>

          <li>
            <a href="https://www.instagram.com/goulartiinha/" target="_blank">
              <i class="fa-brands fa-instagram"></i>
            </a>
          </li>

          <li>
            <a href="https://www.facebook.com/dsnyszz" target="_blank">
              <i class="fa-brands fa-facebook"></i>
            </a>
          </li>

        </ul>
      </div>
    </div>
  </div>

  <!-- Copyright -->

  <div class="footer-copyright bg-copyright text-center py-1 text-white bg-red-dark">
    © 2022 Copyright:
    <a class="text-copyright" style="color: rgb(223, 99, 216);" href="https://github.com/danigoulart"> Daniela Goulart</a>


  </div>
  <!-- Copyright -->

</footer>

