@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

ul.social-network{
    list-style: none;
    padding: 0;
}
ul.social-network li{
    display: inline;
    margin: 0;
    padding: 5px;

}
.fa-brands{
    font-size: 35pt;
    color: aliceblue;
    padding: 10px;
}
.fa-facebook:hover{
    color: #3b5998;
}
.fa-instagram:hover{
    color: #C13584;
}
.fa-github:hover{
    color: black;
}
.fa-linkedin:hover{
    color:#0a66c2;
}
.bg-footer{
    background-color: #f34434e1 ;
}

.bg-copyright{
    background-color: rgb(26, 24, 31) !important;
}

h4{
font-family: 'VT323', monospace;
font-size: 20pt;
}
