<footer class="page-footer font-small bg-footer pt-4">
  <div class="container">
      <div class="row">
          <div class="col-md-12 d-flex justify-content-center">
              <h4 class="text-white">Siga-me nas redes sociais</h4>
          </div>
      </div>
      <div class="row">
          <div class="col-md-12 d-flex justify-content-center">
              <ul class="social-network">
                  <li>
                      <a href="https://github.com/danigoulart" target="_blank" >
                          <i class="fa-brands fa-github"></i>
                      </a>
                  </li>
                  <li>
                      <a href="https://www.linkedin.com/in/danigoulart/" target="_blank">
                          <i class="fa-brands fa-linkedin"></i>
                      </a>
                  </li>
                  <li>
                      <a href="https://www.instagram.com/goulartiinha/" target="_blank" >
                          <i class="fa-brands fa-instagram"></i>
                      </a>
                  </li>
                  <li>
                      <a href="https://www.facebook.com/dsnyszz" target="_blank">
                          <i class="fa-brands fa-facebook"></i>
                      </a>
                  </li>

              </ul>
          </div>
      </div>
  </div>

<!-- Copyright -->
<div class="footer-copyright bg-copyright text-center py-3" style="background-color: rgba(0, 0, 0, 0.8); color: #FFF;">
  © 2022 Copyright:
  <a class="text-copyright" style="color: #FFF;" href="https://mdbootstrap.com/">Daniela Goulart</a>
</div>
<!-- Copyright -->

</footer>
