@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

ul.social-network{
    list-style: none;
    padding: 0;
}
ul.social-network li{
    display: inline;
    margin: 0;
    padding: 5px;

}
.fa-brands{
    font-size: 35pt;
    color: aliceblue;
    padding: 10px;
}
.fa-facebook:hover{
    color: #3b5998;
}
.fa-instagram:hover{
    color: #C13584;
}
.fa-github:hover{
    color: black;
}
.fa-linkedin:hover{
    color:#0a66c2;
}
.bg-footer{
    background-color: #8c20d486 ;
    background: linear-gradient(90deg, #19b3c7 0%, #db20cc 100%)
}

.bg-copyright{
    background-color: #2f0341be !important;
}

h4{
font-family: 'VT323', monospace;
font-size: 20pt;
}

@keyframes changeBackgroundColor {
  0% {
      background-position: 0% 50%;
  }

  50% {
      background-position: 100%;
  }

  100% {
      background-position: 50% 0%;
  }
}
.bg-red-dark{

  background: linear-gradient(135deg, #3c949f, #611494, #bb299b);
  background-size: 300% 300%;
  animation: changeBackgroundColor 15s ease infinite;
}

.m-top {
  padding-bottom: 1px !important;
}
