<div class="container-fluid">
  <div class="row mb-5 bg">
      <div class="col-md-12">
          <h1 class="text-center  txt"> Apagar Tema :( </h1>
  </div>

  <div class="row-mb-5">
    <div class="class-m-12">
      <h4 class="text-center  txt-delete">
        Você tem certeza que deseja apagar esse tema?
         <br>Todas as postagens relacionadas à ele serão igualmente apagadas!</h4>
    </div>
  </div>

            <!-- Texto mostrando o tema selecionado -->
  <div class="row ">
      <div class="col-md-12 d-flex justify-content-center">
          <h5 class="texte-center txt">Tema selecionado: {{tema.descricao}}</h5>
      </div>
  </div>

            <!-- botões-->
  <div class="row mt-5">
      <div class="col-md-12 d-flex justify-content-center mb-4">
          <button class="btn txt1 btn-outline-light btn-2 mr-4" routerLink="/tema">Não</button>
          <button class="btn txt1 btn-outline-light btn-1" (click)='apagar()'>Sim</button>
      </div>
  </div>

</div>
</div>
