<div class="container-fluid bg">

  <div class="container">
    <div class="row d-flex align-items-center">

      <div class="col-md-6 ">
        <div class="row d-flex justify-content-center">


          <div class="col-md-6 box">
            <div class="row d-flex justify-content-center mt-3 ml-0">

              <div class="col-md-1 justify-content-start">
                <img class="pokebola" src="https://i.ibb.co/923drXh/04e4d9c76688a38183b6a96cdc7a4bb0-1.gif"
                  alt="icone-login">
              </div>
              <div class="col-md-8 mt-4">
                <h1 class="login-font d-flex justify-content-center color-font" id="log">Login</h1>
              </div>
            </div>

            <div class="form-group mt-3 login">
              <label for="Usuário">Usuário</label>
              <input class="form-control" type="text" name="usuario" id="usuario" placeholder="Digite seu email">
            </div>

            <div class="form-group mt-3 login">
              <label for="Senha">Senha</label>
              <input class="form-control" type="password" name="senha" id="senha" placeholder="Digite sua senha">
            </div>

            <div class="d-flex justify-content-center mt-4">
              <button type="submit" class="btn login">Entrar</button>
            </div>
            <hr class="mt-3 mb-3">
            <p class="text-center login">Não tem uma conta?<br>
              <a routerLink='/cadastrar'>Cadastre-se</a>
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-6" id="img-bg">
        <img src="https://i.ibb.co/z4Pdg61/computer-pixel-art.gif" alt="">
      </div>


    </div>


  </div>

</div>
