@import url(https://i.ibb.co/vqr9sBX/5432299.jpg);

.bg {
  background-image: url("https://i.ibb.co/bJmgBP4/5477662.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  background-position: center;
  display: flex;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  overflow: auto;
  padding: 3em;
  position: absolute;

}

#img-bg {
  min-height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;

}

.box {
  box-sizing: border-box;
  box-shadow: 50px 5px 5px 5px #765ac4;
  border-radius: 20px;
}

input {
  font-size: 12px;
}

.pokebola {
  width: 110px;
  height: auto;
  margin-left: -50px;
}

.login {
  font-family: "VT323", monospace;
  font-size: 16px;
  color: rgb(143, 67, 194);
}
.login-font {
  font-family: "VT323", monospace;
  font-size: 35pt;
  display: flex;
  align-items: right;
}

.box {
  box-shadow: 20px 20px 58px rgba(188, 88, 228, 0.25);
  border-top: 10px solid rgba(108, 215, 223, 0.747);
  border-right: 1px solid rgba(228, 46, 197, 0.178);
  backdrop-filter: blur(8px);

  -webkit-backdrop-filter: blur(10px);
}

.btn {
  font-family: "VT323", monospace;
  font-size: 15pt;
  font-weight: bold;
  margin-right: 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.5s;
  line-height: 30px;
  margin-left: 20px;
  background-color: rgba(153, 69, 173, 0.658);
}

.btn:hover {
  background: #f334ba
    url(https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX11692316.jpg);
  color: #ffff;
  transition-delay: 0.5s;
  background-size: auto;
  animation: animate 0.8s steps(8) forwards;
}

@keyframes animate {
  0% {
    background-position-y: 0px;
  }

  100% {
    background-position-y: -480px;
  }
}

.color-font{
  color: #25c0f0 !important;
}

.log{
  margin-left: 20px !important;
}
