<div class="bg">


  <div class="container-fluid">

      <div class="container">
          <div class="row d-flex align-items-center">

              <div class="col-md-6 ">
                  <div class="row d-flex justify-content-center">


                      <div class="col-md-6 box">
                          <div class="row d-flex justify-content-center mt-3 ml-0">

                              <div class="col-md-3">
                                  <img class="pokebola"
                                      src="https://i.ibb.co/bbWdHCm/png-transparent-cat-kitten-pixel-art-pixel-purple-animals-text-thumbnail-removebg-preview.png"
                                      alt="pokebola">
                              </div>
                              <div class="col-md-6 mt-1">
                                  <h1 class="login-font d-flex justify-content-start">Login</h1>
                              </div>
                          </div>

                          <div class="form-group mt-3 login">
                              <label for="Usuário">Usuário</label>
                              <input  class="form-control" type="text" name="usuario" id="usuario"
                                  placeholder="Digite seu email">
                          </div>

                          <div class="form-group mt-3 login">
                              <label for="Senha">Senha</label>
                              <input  class="form-control" type="password" name="senha" id="senha"
                                  placeholder="Digite sua senha">
                          </div>

                          <div class="d-flex justify-content-center mt-4">
                              <button type="submit" class="btn login"  >Entrar</button>
                          </div>
                          <hr class="mt-3 mb-3">
                          <p class="text-center login">Não tem uma conta?<br>
                              <a routerLink='/cadastrar'>Cadastre-se</a>
                          </p>
                      </div>
                  </div>
              </div>

              <div class="col-md-6" id="img-bg">
                  <img src="https://i.ibb.co/5rHvsYL/lofi.gif" alt="">
              </div>


          </div>


      </div>

  </div>

</div>
