.fs-16{
  font-size: 16pt;

}
a{

  cursor: pointer;
}

.bg-navbar{
  color: #550955!important;
}
i{
  color: #55b0d4;
}

.font-color{
  color: #55b0d4;
}

.bg-color{
  background-color: rgba(164, 62, 248, 0.76);
}

#nav{
  radius:30px;
}
.color2{
  font-color: #650d68;
}
