<nav class="navbar  navbar-expand-lg navbar-light bg-color">

  <a class="navbar-toggler" href="https://i.ibb.co/923drXh/04e4d9c76688a38183b6a96cdc7a4bb0-1.gif"></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto d-flex align-items-center">
      <li class="nav-item active">
        <img src="{{foto}}" alt="imagem do usuario" width="50px"
          height="50px" class="img-fluid rounded-circle"> <!-- Vai mostrar a foto da pessoa no menu -->
      </li>
      <li class="nav-item pl-3">
        <p class="mt-2 font-weight-bold text-white fs-16">Olá, {{nome}}</p>
      </li>

      <li class="nav-item pl-3 font-color">

        <i class="fa fa-pencil-square-o fs-16 font-color" aria-hidden="true"></i>

      </li>
    </ul>


    <ul class="navbar-nav ml-auto d-flex align-items-center">
      <li class="nav-item pl-3">
        <a (click)="sair()" class="mt-1 font-weight-bold text-white fs-16 ml-2">Sair
          <i (click)="sair()"class="fa-solid fa-right-from-bracket ml-3"></i></a>
      </li>

    </ul>
  </div>
</nav>
