<div class="container-fluid">

  <div class="row bg-inicio d-flex align-items-center">
    <!-- coluna card texto -->
    <div class="col-xl-6 ">

      <div class="row d-flex justify-content-center">
        <div class="col-md-6 text-white">
          <h2 class="fs-54  mb-5">Seja bem vindo!</h2>
          <h5 class="fs-18 text-white mt-3">Sinta-se à vontade para compartilhar suas ideias e sentimentos!</h5>
        </div>
      </div>
    </div>

    <!-- coluna botões postar -->
    <div class="col-md-6 d-flex justify-content-center">
      <img class="game" src="https://i.ibb.co/T2ZRCjk/ed4fec2ec8edb40dbfd3a62a5850bbb9.gif" alt="">
      <button class="btn btn-1" data-toggle="modal" data-target="#novaPostagem">Nova postagem</button>
      <a class="btn btn-outline btn-2" href="#postagens">Ver postagens</a>
    </div>
  </div>
</div>

<!-- coluninha que separa as postagens -->
<div class="container mb-5 mt-2" id="postagens">
  <nav>
    <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">

      <a class="nav-link active font-color font-weight-bold" id="nav-todasPostagens-tab" data-toggle="tab"
        href="#todasPostagens" role="tab" aria-controls="nav-todasPostagens" aria-selected="true">Todas as Postagens</a>


      <a class="nav-link font-color font-weight-bold" id="nav-minhasPostagens-tab" data-toggle="tab"
        href="#minhasPostagens" role="tab" aria-controls="nav-minhasPostagens" aria-selected="false">Minhas
        Postagens</a>


      <a class="nav-link font-color font-weight-bold" id="nav-postagensTema-tab" data-toggle="tab" href="#postagensTema"
        role="tab" aria-controls="nav-postagensTema" aria-selected="false">Postagens por Temas</a>
    </div>
  </nav>

<!-- Mostrar todas postagens -->
  <div class="tab-content mt-5" id="nav-tabContent">
    <div class="tab-pane fade show active " id="todasPostagens" role="tabpanel"
      aria-labelledby="nav-todasPostagens-tab">
      <div class="card-columns">
        <div class="card text-center"
         *ngFor=' let item of listaDePostagens | orderBy: key : reverse'>
          <div class="card-body">
            <h5 class="card-title m-0">{{item.titulo}}</h5>
            <small class="text-muted ">Tema: {{item.tema.descricao}}</small>
            <p class="card-text mt-3">{{item.texto}}</p>
            <p class="card-text"><small class="text-muted">{{item.data | date: 'dd/MM/yyyy'}} às {{item.data
                | date: 'HH:mm'}} </small></p>
            <p class="card-text"><small class="text-muted">by: {{item.usuario.nome}}</small></p>
          </div>
        </div>
      </div>
    </div>


    <div class="tab-pane fade" id="minhasPostagens" role="tabpanel" aria-labelledby="nav-minhasPostagens-tab">
        <div class="card-columns">
          <div class="card text-center" *ngFor='let item of usuario.postagem  | orderBy: key : reverse'>
            <div class="card-body">
              <h5 class="card-title m-0">{{item.titulo}}</h5>
              <small class="text-muted ">Tema: {{item.tema.descricao}}</small>
              <p class="card-text mt-3">{{item.texto}}</p>
              <p class="card-text"><small class="text-muted">{{item.date | date: 'dd/MM/yyyy'}} às {{item.date
                  | date: 'HH:mm'}} </small></p>

              <a [routerLink]="['/postagem-edit', item.id]" class="text-info mr-3" href="">
                <i class="fas fa-edit"></i>
              </a>
              <a [routerLink]="['/postagem-delete', item.id]" class="text-danger" href="">
                <i class="fas fa-trash"></i>
              </a>
            </div>
          </div>
        </div>
      </div>






    <div class="tab-pane fade" id="postagensTema" role="tabpanel" aria-labelledby="nav-postagensTema-tab">
      Postagens por Tema
    </div>
  </div>
</div>




<div class="tab-content mt-5" id="nav-tabContent">
  <div class="tab-pane fade show active" id="todasPostagens" role="tabpanel" aria-labelledby="nav-todasPostagens-tab">
    <div class="row  d-flex justify-content-center mt-5 mb-5">
      <div class="col-md-4">
        <div class="form-group">
          <input (keyup)='findByTituloPostagem()' type="text" class="form-control" id="titulo"
            placeholder="Digite um titulo de postagem para pesquisar" [(ngModel)]="tituloPost">
        </div>
      </div>
    </div>
  </div>





  <div class="tab-pane fade" id="postagemTema" role="tabpanel" aria-labelledby="nav-postagemTema-tab">
    <div class="row  d-flex justify-content-center mt-5 mb-5">
      <div class="col-md-4">
        <div class="form-group">
          <input (keyup)="findByDescricaoTema()" type="text" class="form-control" id="titulo"
            placeholder="Digite um tema para pesquisar" [(ngModel)]="descricaoTema">
        </div>
      </div>
    </div>

    <div class=" card-columns" *ngFor='let tema of listaDeTemas | orderBy: key : reverse'>
      <div class="card text-center" *ngFor=' let item of tema.postagem'>
        <div class="card-body">
          <h5 class="card-title m-0">{{item.titulo}}</h5>
          <p class="card-text"><small class="text-muted">{{tema.descricao}}</small></p>
          <p class="card-text mt-3">{{item.texto}}</p>
          <p class="card-text"><small class="text-muted">{{item.date | date: 'dd/MM/yyyy'}} às
              {{item.date | date: 'HH:mm'}} </small></p>
          <p class="card-text"><small class="text-muted">by: {{item.usuario.nome}}</small>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>





<!-- Modal FAZER POSTAGEM -->
<div class="modal fade modal-bg" id="novaPostagem" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado"
  aria-hidden="true">

  <div class="modal-dialog modal-dialog-centered " role="document">

    <div class="modal-content bg-post">

      <div class="modal-header">

        <h5 class="modal-title txt" id="TituloModalCentralizado">Nova Postagem</h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>

      </div>

      <!-- FORMULÁRIO PARA POSTAGEM -->
      <div class="modal-body">

        <div class="form-group txt">
          <label for="titulo">Titulo</label>
          <input [(ngModel)]="postagem.titulo" type="text" class="form-control" id="titulo" placeholder="Insira o título da postagem">
        </div>

        <div class="form-group txt">
          <label for="texto">Texto</label>
          <textarea [(ngModel)]="postagem.texto" name="form-control" id="texto" rows="3" class="form-control" placeholder="Digite o texto">
          </textarea>
        </div>

        <div class="form-group txt">

          <label for="texto">Escolha um tema <a class="cadastro-tema" data-dismiss="modal" routerLink='/tema'> ou cadastre um
              novo</a>: </label>

          <select name="tema" id="tema" class="form-control" [(ngModel)]='idTema'
          (change)='findByIdTema()'>

            <option *ngFor='let item of listaDeTemas' value="{{item.id}}">
              {{item.descricao}}
            </option>

          </select>
        </div>
      </div>


      <!-- BOTÕES -->
      <div class="modal-footer txt">
        <button type="button" class="btn btn-outline-light btn-22 mr-4" data-dismiss="modal">Cancelar</button>

        <button type="button" class="btn btn-outline-light btn-11" (click)='publicar()' data-dismiss="modal">Postar</button>
      </div>

    </div>
  </div>
</div>
