<!-- Nav bar -->
<div class="container-fluid d-flex  bg">
  <div class="container d-flex">
    <nav class="navbar fixed-top navbar-expand-lg  navbar-light box">
      <a class="navbar-brand font-weight-bold" href="#">Seja bem vindo à Space Cat!</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="nav nav-tabs align-items-end">
          <li class="nav-item active btn btn-2">
            <a class="nav-link color-font" href="#conheca">Conheça <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item btn btn-2">
            <a class="nav-link color-font" href="#sobre">O projeto</a>
          </li>

          <li class="nav-item btn btn-2">
            <a class="nav-link color-font" href="#">Sugestões</a>
          </li>

          <li class="nav-item btn btn-2">
            <a class="nav-link color-font" routerLink='/cadastrar'>Fazer parte</a>
          </li>

          <li class="nav-item btn btn-2">
            <a class="nav-link color-font" routerLink='/login'>Logar</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <!-- Nav bar -->


</div>
