<!-- BACKGROUND -->
<div class="container-fluid bg">
  <!-- BACKGROUND -->

  <div class="container mt-5">
    <div class="row d-flex align-items-center mt-5">


      <!-- Chamada inicial -->
      <div class="col-md-10 mt-4 " >
        <div class="row d-flex justify-content-center">
          <div class="col-md-5 box">
            <!-- largura -->

            <p class="text-justify text-monospace fc">
              <br />
              Somos uma rede social, daquele estilo blog que deixa o coração
              quentinho e nos faz lembrar do tumblr, um espaço seguro para
              compartilhar suas ideias, seus gostos e claro, muito amor aos
              gatinhos!
            </p>

            <blockquote class="blockquote">
              <p class="mt-8 cf">Desenvolvido e pensado com carinho.</p>
              <footer class="blockquote-footer text-white">
                Daniela Goulart,
                <cite title="Source Title"> idealizadora.</cite>
              </footer>
            </blockquote>

            <div class="row d-flex justify-content-center mt-1 ml-0"></div>
          </div>

          <div class="col-md-4 mb-5" id="bg-img">
            <img src="https://i.ibb.co/gmxRsy3/semfundo-1.png" alt="" />
          </div>

          <!-- Box de Informar Sobre nós -->
          <div class="col-12 display-flex" id="conheca">
          <div class="card text-center mt-5 card1">
            <div class="card-header ">
              <!-- titulo -->
            </div>
            <div class="card-body ">
              <h5 class="card-title">Sobre o Space Cat</h5>
              <p class="card-text">
                Um espaço seguro para você se conectar e se expressar, através de postagens com diversos temas e claro: muitos gatinhos.</p>
              <a href="#" class="btn btn-primary">Quero fazer parte</a>
            </div>
          </div>



          <div class="card-deck mt-5">
  <div class="card">
    <img class="card-img-top" src="https://i.ibb.co/ryhqC1d/f927a00310baebb8d435ebe20d0da6a6.gif" alt="Imagem de capa do card">
    <div class="card-body">
      <h5 class="card-title text-center">Postagens</h5>
      <p class="card-text">
        Você pode realizar postagens com texto, imagens e buscar por postagens com o seu tema preferido!

      </p>
    </div>

  </div>
  <div class="card">
    <img class="card-img-top" src="https://i.ibb.co/VC9ZW8L/Dreary-Offensive-Gerenuk-size-restricted.gif" alt="Imagem de capa do card">
    <div class="card-body">
      <h5 class="card-title text-center">Temas</h5>
      <p class="card-text">
        Em constante evolução, estamos sempre atualizando os nossos Temas, mantendo o blog atualizado e participativo com a comunidade! :3

      </p>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="https://i.ibb.co/31dcBwK/i1pf68f06cb71.gif" alt="Imagem de capa do card">
    <div class="card-body">
      <h5 class="card-title text-center">Busca e Atualização</h5>
      <p class="card-text">
        Todo o blog foi desenvolvido para você poder realizar buscas de todas as suas postagens, de postagens de um tema específico e alteração de perfil! Um cantinho totalmente especial e estilizável!
      </p>
    </div>

  </div>
</div>
</div>

          <!-- O Projeto  -->

          <div class="container mt-2 mb-5 align-center sobre">
            <div class="row d-flex justify-content-center">
              <div class="col-md box2 mt-4 align-center ml-4" id="sobre">
                <!-- largura -->
                <p class="text-justify text-monospace font">
                  Este blog nasceu como projeto pessoal realizado dentro do
                  Bootcamp de Desenvoldedor Web Java da Generation Brasil.
                  Onde aprendemos algoritmos do ZERO, construímos uma API
                  com Java e SpringBoot, onde apredemos a manipular os dados
                  e informaçõe recebidas pelo usuário e guardando no Banco
                  de Dados Relacional MySql. Aprendemos documentação, testes
                  unitários e partimos para o Front-end onde me encontrei e
                  construi esse lindo blog utilizando Angular e Boostrap.
                </p>
              </div>
            </div>
          </div>
          <div>



                <!--  -->

                <div class="card bg-dark text-white">
                  <img
                    class="card-img"
                    src="https://i.ibb.co/mHdbKdQ/nyan-cat-cat-computer-space-stars-space-shuttle-astronaut-spacesuits-rainbows-humor-memes-wallpaper.jpg"
                    alt="Imagem do card"
                  />
                  <div class="card-img-overlay">
                    <h5 class="card-title">Título do card</h5>
                    <p class="card-text">
                      Este é um card maior com suporte a texto embaixo, que
                      funciona como uma introdução a um conteúdo adicional. Este
                      conteúdo é um pouco maior, para demonstração.
                    </p>
                    <p class="card-text">Atualizados 3 minutos atrás</p>
                  </div>
                </div>

                <div class="card mb-3">
                  <img
                    class="card-img-top"
                    src="https://i.ibb.co/9w8Rf6h/box-cat-cool-flying-Favim-com-1636563.jpg"
                    alt="Imagem de capa do card"
                  />
                  <div class="card-body">
                    <h5 class="card-title">Título do card</h5>
                    <p class="card-text">
                      Este é um card maior com suporte a texto embaixo, que
                      funciona como uma introdução a um conteúdo adicional. Este
                      conteúdo é um pouco maior, para demonstração.
                    </p>
                    <p class="card-text">
                      <small class="text-muted"
                        >Atualizados 3 minutos atrás</small
                      >
                    </p>
                  </div>
                </div>
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Título do card</h5>
                    <p class="card-text">
                      Este é um card maior com suporte a texto embaixo, que
                      funciona como uma introdução a um conteúdo adicional. Este
                      conteúdo é um pouco maior, para demonstração.
                    </p>
                    <p class="card-text">
                      <small class="text-muted"
                        >Atualizados 3 minutos atrás</small
                      >
                    </p>
                  </div>
                  <img
                    class="card-img-bottom"
                    src=".../100px180/"
                    alt="Imagem de capa do card"
                  />
                </div>

                <div class="card text-center">
                  <div class="card-header">
                    <ul class="nav nav-pills card-header-pills">
                      <li class="nav-item">
                        <a class="nav-link active" href="#">Ativo</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link disabled" href="#">Desativado</a>
                      </li>
                    </ul>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">Título especial</h5>
                    <p class="card-text">
                      Com suporte a texto embaixo, que funciona como uma
                      introdução a um conteúdo adicional.
                    </p>
                    <a href="#" class="btn btn-primary">Visitar</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
