<!-- BACKGROUND -->
<div class="container-fluid bg">
<!-- BACKGROUND -->

  <div class="container ">
    <div class="row d-flex align-items-center">

      <div class="col-md-10 ">
        <div class="row d-flex justify-content-center">
          <div class="col-md-5 box ">  <!-- largura -->
            <p class="text-justify text-monospace fc"> <br> Somos uma rede social, daquele estilo blog que deixa o coração quentinho
              e nos faz lembrar do tumblr, um espaço seguro para compartilhar suas ideias,
              seus gostos e claro, muito amor aos gatinhos!
            </p>

            <blockquote class="blockquote">
              <p class="mt-8 cf">Desenvolvido e pensado com carinho.</p>
              <footer class="blockquote-footer text-white">Daniela Goulart <cite title="Source Title"> - idealizadora</cite></footer>
            </blockquote>

            <div class="row d-flex justify-content-center mt-1 ml-0"></div>
          </div>

          <div class="col-md-4" id="bg-img">
            <img src="https://i.ibb.co/gmxRsy3/semfundo-1.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



